
@use './variables' as v;

h1 {
    color: v.$mainTextColor;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 2em;
    font-family: v.$font-family;
}
 
h2, h4, p, a {
    font-family: v.$font-family;
}
h2 {
    text-transform: capitalize;
}

h4 {
    margin-bottom: 20px;
}

.add-info h4 {
    text-transform:uppercase;
}

.article p {
    line-height:1.5;
}

.contacts p {
    font-size: 1.2em;
    line-height: 2;
}

p::first-letter {
    color: v.$secondColor;
    font-size: 1.5em;
  }
